<div class="backgroundAbout" >
    <div class="container bannerAbout">
        <div class="bannerAbout__content">
            <p class="bannerAbout__txt">En Universo Fono...</p>
            <p class="bannerAbout__sentence">Queremos verte <span class="bannerAbout__sentence--green">crecer</span> y <span class="bannerAbout__sentence--pink">vencer</span> cualquier barrera</p>
        </div>
        <img class="bannerAbout__img" id="planetaNosotros" src="img/planetas_about.png" alt="">
    </div>{{!-- banner about --}}

    <div class="container about__section">
        <div class="about__content about__content--center">
            <section class="box__question">
                <img src="img/icono_quienesSomos.png" alt="icono quienes somos">
                <h1 class="title title--blue">¿QUIÉNES SOMOS?</h1>
                <p class="box__txt">Somos una plataforma digital mexicana de acceso gratuito a favor de las personas con trastornos de la comunicación. Universo Fono es, ante todo, un espacio dedicado a apoyar, atender y compartir conocimientos que beneficien a las personas con alguna condición o discapacidad del lenguaje, con el fin de potencializar al máximo su desarrollo e integración a la sociedad.</p>
            </section>
        </div>
        <div class="about__content about__content--start">
            <section class="box__mision">
                <img src="img/icono_nuestra.png" alt="icono nuestra mision">
                <h1 class="title title--green">NUESTRA MISIÓN</h1>
                <p class="box__txt">Contribuir en la rehabilitación de las personas con alguna patología de la comunicación humana mediante la difusión de contenidos confiables que los ayuden a conseguir una mayor oportunidad de crecimiento y obtener la mejor versión de cada una de ellas.</p>
            </section>
        </div>
        <div class="about__content about__content--end">
            <section class="box__vision">
                <img src="img/icono_nuestraMision.png" alt="icono nuestra vision">
                <h1 class="title title--pink">NUESTRA VISIÓN</h1>
                <p class="box__txt">Unir esfuerzos para crear un espacio de encuentro virtual entre pacientes, padres o tutores, terapistas, investigadores y estudiantes que sea favorable para el bienestar y aprendizaje de todos.</p>
            </section>
        </div>
    </div>

</div>
