
<div class="activities__container">
    <div class="activities__wave">
        <div class="container activities__hero">
            <h1 class="hero__title"><span class="hero__title--pink">JUEGA</span> Y <span class="hero__title--green">APRENDE</span></h1>
            <p class="hero__txt">¡Aprender no tiene que ser aburrido!<strong> Universo Fono </strong>tiene para ti diversas actividades, todas destinadas a impulsarte a seguir creciendo. Visita nuestros planetas y diviértete.</p>
        </div>
    </div>
    {{!-- <div class="activities__content">
        <div class=" container planets__content">
            <div class="planet__content">
                <img class="planet__img" src="img/Planeta2.png" alt="">
                <h2 class="planet__title">Planeta <br> LEO</h2>
            </div>
            <div class="planet__content">
                <img class="planet__img" src="img/Planeta2.png" alt="">
                <h2 class="planet__title">Planeta <br> LEO</h2>               
            </div>
            <div class="planet__content">
                <img class="planet__img" src="img/Planeta3.png" alt="">
                <h2 class="planet__title">Planeta <br> LEO</h2>
            </div>
            <div class="planet__content">
                <img class="planet__img" src="img/Planeta4.png" alt="">
                <h2 class="planet__title">Planeta <br> LEO</h2>
            </div>
        </div>
    </div> --}}
    <div class="container carousel">
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <img src="img/arrow_previous.png" alt="">
                </button>
    
                <div class="carousel__lista">
                    <div class="carousel__elemento">
                        <a href="/saraQuiz"><img src="img/Planeta1.png" alt="Rock and Roll Hall of Fame"></a>
                        <p>Rock and Roll Hall of Fame</p>
                        <p class="actiSaraLaOruga">SARA LA ORUGA</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="img/Planeta2.png" alt="Constitution Square - Tower I">
                        <p>Constitution Square - Tower I</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="img/Planeta3.png" alt="Empire State Building">
                        <p>Empire State Building</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="img/Planeta4.png" alt="Harmony Tower">
                        <p>Harmony Tower</p>
                    </div>
                </div>
    
                <button aria-label="Siguiente" class="carousel__siguiente">
                    <img src="img/arrow_next.png" alt="">
                </button>
            </div>
    </div>
    
</div>
