<div class="main">
    <div class="container bannerHome" >
        <div class="bannerHome__txt">
            <h1>Explora las <span class="galaxias">galaxias</span>, <span class="planetas">planetas</span> y <span class="estrellas">estrellas </span>del lenguaje</h1>
            <p>Somos un espacio dedicado al aprendizaje y apoyo, en donde podrás acceder a una gran variedad de contenidos relacionados con los transtornos de la comunicación.</p>
            <a class="about__btn" href="/about">¡CONOCE MÁS!</a>
        </div>
        <div class="bannerHome__imgs">
            <img id="bannerHome__img1" src="/img/Frame.png" alt="">
        </div>
    </div>
    <section class="offer">
        <!-- <img src="build/img/Vector Azul2.png" alt=""> -->
        <h2>¿QUÉ TE OFRECEMOS?</h2>
        <div class="container offer__content">
            <div class="boxImg play__img">
                <img src="/img/img_home-learn.png" alt="imagen niños juega y aprende">
            </div>
            <div class="boxTxt play__text">
                <p>Contamos con diversas actividades, ejercicios y herramientas ideales para toda persona que presente alguna condición del lenguaje.</p>
                <a class="play__btn" href="/activities">Juega y aprende</a>
            </div>
            <div class="boxImg">
                <img class="visit__img" src="/img/img_home-visit.png" alt="imagen joven visitanos y colabora">
            </div>
            <div class="boxTxt visit__text">
                <p>Somos una comunidad siempre activa y con ganas de conocer más. Impulsamos la investigación y comunicación </p>
                <a class="visit__btn"  href="">VISÍTANOS Y COLABORA</a>
            </div>
            <div class="boxImg">
                <img class="expert__img" src="/img/img_home-expert.png" alt="imagen nuestros expertos">
            </div>
            <div class="boxTxt expert__text">
                <p>Ofrecemos un espacio de encuentro a distancia entre doctores, terapistas y pacientes; de esta manera contribuimos a su rehabilitación.</p>
                <a class="expert__btn"  href="">Nuestros expertos</a>
            </div>
        </div>
    </section>
    <div class="container sentenceHome">
        <p >En Universo Fono abrazamos las diferencias.<br> <span>¡Acompáñanos en nuestra aventura!</span> </p>
        <a class="unete__btn" href="">¡ÚNETE!</a>
    </div>
</div>
