<div class="backgroundJoinUp">
    <div class="containerCard cardJoinUp">
        <div class="cardJoinUp__container cardJoinUp__register">
            <div class="cardJoinUp__txt">
                <h2>¿AÚN NO TIENES UNA CUENTA? </h2>
                <a class="cardJoinUp__btn cardJoinUp__btn--violet" href="/users/signUp">¡REGÍSTRATE AQUÍ!</a>
            </div>
        </div>
        <div class="cardJoinUp__container cardJoinUp__login">
            <div class="cardJoinUp__txt">
                <h2>¿YA TIENES UNA CUENTA? </h2>
                <a class="cardJoinUp__btn cardJoinUp__btn--blue" href="/users/logIn">¡INICIA SESIÓN!</a>
            </div> 
        </div>
        <img class="cardJoinUp__img" src="/img/Scrabble.png" alt="">
    </div>
</div>
