<main class="cajaCentralEnd">
        <div class="containerEndSara">
            <ul class="styleLiEnd">
                    <li class="textEnd">
                            <p>¡Vamos por más!</p>
                    </li>
                    <li class="aciertos">
                            <p >Acertaste 0 de 4</p>
                            <p>Total de puntos</p>
                            <h1 id="finalScore">0</h1> 
                    </li>
                    
                    <li class="StyleMensajes">
                            <p class="mensaje"> Buen intento, seguro que logras conseguir más puntos. </p>
                            <p class="mensaje">Recuerda que puedes volver a revisar el cuento de Sara la Oruga las veces que quieras.  </p>
                            <p id="mensajeColor">Te invitamos a divertirte con más cuentos de Planeta Leo</p> 
                    </li>
                    <li class="cajaReturn">
                            <a href="/gameSara" class=" button" id="btn1">INTENTAR DE NUEVO</a>
                            <a href="/saraQuiz" class="button" id="btn2">VOLVER A LEER</a>
                            <a href="/" class="button" id="btn3">PLANETA LEO</a>
                    </li>
            </ul>
        </div>
        <img class="Patricio"  src="img/imgSaraQuiz/Sara-mariposa2.gif" alt="Funny image"> 
        <div class="imgCesped">
                <img src="img/imgSaraQuiz/Cesped.png" >
        </div>
</main>