<div class="contenedorGlobal">
    <main class="cajaCentral"><!-- Clase de la box  -->
        <div class="cajaimgHoraQuiz">
            <img class="imgHoraQuiz"  src="img/¡Hora del QUIZ!.png" alt="¡Hora del QUIZ!">
        </div>
        <div class="CajaIniQuiz">
            <div class="contenedorTexto">
                <h1 class="text1">
                    ¿Disfrutaste la lectura?<br>
                    Ahora revisaremos lo que <br>hemos leído.<br><br>
                    Contesta las siguientes <br>preguntas sobre el cuento
                </h1>
                <h1 class="text2">
                    Sara la oruga.
                </h1>
                <a href="/gameSara" class="btn">INICIAR EL QUIZ</a>    
        </div>
    </main>
    
</div>